.main{

}
h1{
    background-color: lightgrey;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

}

header{
    background-image: url(image\ 3.png);
    padding-top: 5px;
    padding-bottom: 5px;
}   
.Ingredienser{
text-align: center;
background-color: lightgrey;
border-radius: 16px;
margin-right: 1200px;
margin-left: 50px;
}
.Ingredienser ul{
margin-left: -35px;
}

article {
    border: 2px solid lightgray;
    background-color: lightgray;
    align-items: center;
    width: 1100px;
    height: fit-content;
    font-family: 'Inika', serif;
    margin: 30px;
    border-radius: 16px;
    position: absolute;
    margin-left: 200px;
    margin-top: -425px;
  
    text-align: center;
font-size: xx-large;
    }

.cevapi img{

    background-color: red;
    
    margin-left: 50px;
    border: 16px solid red;
    border-radius: 16px;
}
.cevapi2 img{
    background-color: red;
    margin-top: -300px;
    margin-left: 1000px;
    border: 16px solid red;
    border-radius: 16px;
}

.information{
background-color: lightgrey;
border-radius: 16px;
margin-left: 340px;
margin-right: 390px;
margin-top: -270px;
font-size: xx-large;
padding-left: 35px;

}
.informationHöger{
    background-color: lightgrey;
    border-radius: 16px;
    margin-right: 500px;
    margin-left: 800px;
    margin-top: -207px;
    font-size: xx-large;
}