.main{

}
h1{
    background-color: lightgrey;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

}

header{
    background-image: url(image\ 3.png);
    padding-top: 5px;
    padding-bottom: 5px;
}   
.Ingredienser{
text-align: center;
background-color: lightgrey;
border-radius: 16px;
margin-right: 1200px;
margin-left: 50px;
}